/* Headings*/
h1 { 
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: blue;
    padding-top: 20px;}
h2 { font-family: 'Roboto Mono', monospace;
    color:orangered;
    padding-top: 20px;
    text-align: center;

    }


/* PieChart  */

#piechart {
    text-align: center;
    position: center;
    height:100%;
    border: none;
    border-radius: 50px;
    padding-top:30px;
    padding-left:500px;

}